.ul :not(:first-child) {
  margin-top: 3px;
}
.li {
  font-weight: 600;
}
.div {
  width: 400px;
}
.button {
  margin-left: 20px;
  cursor: pointer;
}
.button:active {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
