.genres {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.genres :not(:first-child) {
  margin-left: 15px !important;
}
.div {
  display: flex;
}
.div :not(:first-child) {
  margin-left: 20px;
}
h1 {
  padding-left: 20px;
}
.navLink {
  font-size: 18px;
}
.navLinkactive {
  font-size: 18px;
  color: red;
}
.container {
  padding-left: 15px;
}
